@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth !important;
  background: linear-gradient(120deg, #f8fafc 0%, #e0e7ff 100%);
  min-height: 100vh;
  transition: background 0.8s cubic-bezier(0.4,0,0.2,1);
}

/* It makes the HTML progress bar filling smooth when value change. */
progress::-webkit-progress-value {
  transition: 0.6s width ease-out;
}

@layer base {
  .btn-gradient {
    @apply !bg-gradient !bg-[length:300%_300%] hover:saturate-[1.2] shadow duration-100 !border-0 !border-transparent !bg-transparent animate-shimmer disabled:!bg-none disabled:!bg-gray-500/30  !text-white;
  }
  .btn {
    @apply !capitalize;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.font-script {
  font-family: 'Pacifico', cursive;
}

@font-face {
  font-family: 'Playlist Script';
  src: url('/fonts/PlaylistScript.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-playlist {
  font-family: 'Playlist Script', cursive;
}

@font-face {
  font-family: 'SquareFont';
  src: url('/fonts/Square.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-square {
  font-family: 'SquareFont', monospace;
}
